<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://kit.fontawesome.com/43aef3af94.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="container">

<div class="background-blur" id="background" ></div>

    <div class="registerForm" id="register" >
      <i class="fa-solid fa-xmark" id="cancel" ></i>
      <div class="registerTxt">
      <h1>Sign Up</h1>
      <h2>It's quick and easy</h2>
    </div>


    <div class="signupForm">
      <form action="/register" method="post">
        <label for="">Username</label>
        <input type="text" name="username" id="username">
        <label for="">Password</label>
        <input type="password" name="password" id="password">
        <button type="submit">Sign Up</button>
      </form>
    </div>



    </div>





    <div class="txt">
      <h1>Facebook</h1>
      <h2>Facebook helps you connect and share with the people in your life.</h2>
    </div>
    <div class="form">
      <form action="/profile" method="post">
        <input type="text" placeholder="Email address or phone number">
        <input type="text" placeholder="Password">
        <button type="submit" id="login" >Log in</button>
        <a href="">Forgotten password?</a>
        <a href="/register" id="Create">Create new account</a>
      </form>
    </div>




  </div>



<script src="/javascripts/script.js"></script>

</body>
</html>